#loader-view{
    position: fixed;
    top:0px;
    left:0px;
    height: 100vh;
    width:100%;
    z-index: 1000;
    background-color: rgba(255,255,255,1);
    display: none;
}

#loader-view img{
    margin-left: 40%;
    margin-top: 8%;
    width: 20%;
    height: auto;
}

body{
    margin: 0px;
}

.navigation{
    background-color: #0275d8;
    top: 0px;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 2rem 3em;
}
#text-logo{
    color:rgba(255,255,200,0.99);
    font-weight: bolder;
    font-size: 20px;
    font-family: verdana;
}
 .navigation a{
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
}
.navigation ul li a{
    margin-left: 1em;
    padding: 2rem 0.5rem;
}
.navigation ul li  a:hover{
    background-color: rgba(255, 255, 255, .1);
}
.navigation ul li  a span{
    margin-right: 0.2em;
}
#show-sidebar{
    outline: none;
}
#show-sidebar:hover{
    background-color: #CCC;
}
#sidebar{
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: 99;
    background-color: rgba(255, 0, 0, 0.5);
    top: 0;
    right: -0%;
    display: none;
}
#sidebar h1{
    color: #FFF;
    position:absolute;
    top: -1rem;
    cursor: pointer;
    left: 2rem;
    font-size: 4rem;
    font-weight: normal;
}
#sidebar h1:hover{
   color: #CCC;
}
#show-sidebar{
    background-color: transparent;
    color: #FFF;
    font-size: large;
}
#show-sidebar:hover{
    background-color: rgba(255, 255, 255, .2);
}
#sidebar ul{
    background-color: royalblue;
    height: 100vh;
    width: 80%;
    padding: 0px;
    position: relative;
    left: 20%;
    margin: 0px;
}
#sidebar ul li{
    padding: 0px;
    margin: 0px;
}
#sidebar ul li a{
    padding: 2rem 6rem;
    margin: 0px;
    font-size: 1.5rem;
    display: block;
    color: #FFF;
}
#sidebar ul li a:hover{
    background-color: #FFF;
    color: #333;
    cursor: pointer;
}

.main{
    padding: 10rem 3rem 2rem 3rem;
}
.main h2{
    font-weight: bolder;
    margin: 2rem;
}
.main .text h4{
    color: rgba(255, 0, 0, 0.5);
    font-weight: bolder;
}
.main img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.reload .fa-refresh{
    color:#0275d8;
    cursor: pointer;
}

#related{
    padding: 5rem 3rem 2rem 3rem;
}

#related .post{
    margin-bottom: 4rem;
}
#related .post h3{
    font-size: 2rem;
    font-weight: bolder;
}
#related img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
#related .post a{
    display: inline-block;
    border:1px solid rgba(255, 0, 0, 0.5);
    padding: 10px;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.5);
}
#related .post a:hover{
    color: red;
    border-color: red;
}

footer {
    background-color: #191919;
    color: #ADADAD;
    margin-top: 3em;
    padding: 3em 0;
}
footer h5, footer img {
    margin: 5em 0px 3em 0px;
    font-weight: bold;
}
footer ul {
    margin-bottom: 5em;
}
footer ul li{
    margin-bottom: 1rem;
}
footer ul li a button{
    background-color: #FFF;
    padding: 5px;
    border-radius: 100px;
    border:none;
    outline: none;
    width: 50px;
    height: 50px;
}
footer ul li a button:hover{
    background-color: royalblue;
    color: #FFF;
}
   
footer a {
    color: #5A5A5A;
}
footer a:hover {
    text-decoration: none;
    color: #FFF;
}


#text-logo-footer {
    margin-top: 4em ;
    display: inline-block;
    color:rgba(255,255,200,0.99);
    font-weight: bolder;
    font-size: 20px;
    font-family: verdana;
}









@media screen and (max-width:48em) {
    .sermons{
        flex-wrap: wrap;
        width: auto;
    }
    .card{
        width: auto;
        margin: 3rem auto;
    }
    .logo{
        margin-left: -40px;
    }
    .main img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    #show-sidebar{
        margin-right: -40px;
        margin-top: -5px;
    }
    #banner{
        height: 63vh;
    }
    .widget{
        padding:  0px;
        padding: 40% 0px 0px 0px;
        height: 100%;
    }
    .main{
        padding: 12rem 0rem 3rem 0rem;
    }
    .main h2{
        margin: 0rem 0rem 2rem 0rem;
    }
    .main .text{
        margin: 2rem 0rem;
    }
    #related{
        padding: 5rem 0rem 3rem 0rem;
    }
    #related h2{
        margin: 0rem 0rem 2rem 0rem;
    }
    #text-logo{
        margin-left: -30px;
    }
}

@media screen and (max-width:20em){
    .sermons{
        flex-wrap: wrap;
        width: auto;
    }
    .card{
        width: auto;
        margin: 3rem auto;
    }
    #banner{
        height: 63vh;
    }
    .widget{
        padding:  0px;
        padding: 40% 0px 0px 0px;
        height: 100%;
    }
    .logo{
        margin-left: -40px;
    }
    #show-sidebar{
        margin-top: -5px;
        margin-right: -40px;
    }
    .main img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin: auto 0px;
    }
    .main{
        padding: 12rem 0.5rem 3rem 0.5rem;
    }
    .main h2{
        margin: 0rem 0rem 2rem 0rem;
        font-size: 2.2rem;
    }
    .main .text{
        margin: 2rem 0rem;
    }
    #related{
        padding: 5rem 0rem 3rem 0rem;
    }
    #related h2{
        margin: 0rem 0rem 2rem 0rem;
    }
    #text-logo{
        margin-left: -30px;
    }
}